<h4 class="span12">Comments</h4>
<% post.comments.each do |comment| %>
  <div class="row">
     <div class="span1 well text-center">
      <% if logged_in? %>
        <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post' do %>
          <span class="icon icon-arrow-up"></span>
        <% end %>
        <br>
      <% end %>
      <%= comment.total_votes %> votes
      <% if logged_in? %>
        <br>
        <%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post' do %>
          <span class="icon icon-arrow-down"></span>
      <% end %>
      <% end %>
    </div>
    <div class="well span9">
      <em>"<%= comment.body %>"</em><% if comment_post %> on <%= link_to "#{comment.post.title}", post_path(comment.post.id) %><% end %><br>
      by <%= comment.creator.username %> on <span class="small"><%= time_format(comment.created_at) %></span>
    </div>
  </div>
<% end %>
