<div class="well">
  <%= render  post.categories %>
  <h4><%= link_to post.title, post_url_format(post.url) %></h4>
  <p><%= post.description %></p>
  <p>
    <span>posted by <%= post.creator.username %></span> on <span class="quiet"><%= time_format(post.created_at) %></span>
  </p>
  <small><%= link_to("#{post.comments.size} comments", post_path(post)) %></small>
</div>